$color-graypurple0: #E4E4F3;

$color-purple-medium: #7D6DC1;
$color-purple-dark: #483F6F;

$color-gray0: #ECEFF1;
$color-gray1: #CFD8DC;
$color-gray2: #B0BEC5;
$color-gray3: #90A4AE;
$color-gray4: #78909C;
$color-gray5: #607D8B;
$color-gray6: #546E7A;
$color-gray7: #455A64;
$color-gray8: #37474F;
$color-gray9: #263238;