@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap');

@import "components/__components";
@import "pages/__pages";

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
}