footer {

  width: 100%;
  text-align: center;
  background-color: white;
  padding: 1em 0;

  &,
  a {
    color: #37474F;
  }

  p {
    font-size: 1.2em;
    margin: 0;
  }

  span {
    margin: 0 .5em;
  }

}