header {

  width: 100%;

  .container {

    display: flex;
    justify-content: space-between;
    height: 5em;
    line-height: 5em;

    @media (max-width: 50em) {
      font-size: 3vw;
      height: auto;
      line-height: 1.4;
      flex-direction: column;
      align-items: center;
      padding: 2em 1em 0;
    }

  }

  ul {
    font-size: 1.2em;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {

    display: inline-block;
    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  a {

    display: block;
    color: $color-purple-dark;
    font-family: $font-display;
    text-decoration: none;
    padding: 0 .5em;

    @include hover() {

      &:hover {
        text-decoration: underline;
      }

    }

  }

  p {

    font-size: 2em;
    margin: 0;

    @media (max-width: 50em) {
      margin-bottom: .4em;
    }

  }

}