$border-radius-small: .2em;
$border-radius-medium: .4em;
$border-radius-large: .6em;

$component-shadow-basic: 0 1px 3px rgba(0, 0, 0, 0.2);
$component-shadow-strong: 0 2px 6px rgba(0, 0, 0, 0.4);
$component-shadow-lifted: 0 7px 12px -2px rgba(0, 0, 0, 0.4);

// Breakpoints
$screen-xs:550px;
$screen-sm:768px;
$screen-md:1024px;
$screen-lg:1200px;
$screen-xl:1600px;

// Layout
$site-max-width: 900px;