$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

$font-size-base: 1em;

$font-h1-margin-bottom: $font-size-base * .58825;
$font-h2-margin-bottom: $font-size-base * .7143;
$font-h3-margin-bottom: $font-size-base * .83334;
$font-h4-margin-bottom: $font-size-base;
$font-h5-margin-bottom: $font-size-base * 1.25;
$font-h6-margin-bottom: $font-size-base * 1.25;

$font-color-copy: $color-gray8;
