.page-home {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .logo-fogg {
    display: inline-block;
  }

  h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 5em;
    margin-top: 0;
  }

  .button {
    margin: 0 .5em;
  }

  .footnote {
    font-size: 1.2em;
    margin-top: 3em;
  }

}