.page-home {}

.home-hero {

  display: flex;
  font-size: 1em;

  @media (max-width: 80em) {
    font-size: clamp(.6em, 1.2vw, 1.2em);
  }

  @media (max-width: 50em) {
    display: block;
    font-size: clamp(.6em, 2.2vw, 1em);
  }

  .button {

    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

.home-hero-content {

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 50em) {
    text-align: center;
    align-items: center;
  }

}

.home-hero-header {
  color: $color-purple-dark;
  font-family: 'Zilla Slab', serif;
  font-size: 3.5em;
  font-weight: 500;
  margin: 0;
}

.home-hero-blurb {
  color: $color-gray4;
  font-size: 1.4em;
  line-height: 1.4;
}

.home-hero-actions {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-top: 1em;
}

.home-hero-image {

  img {

    width: 44em;
    transform: translateX(8em) translateY(1em);
    margin: 0 0 0 -8em;

    @media (max-width: 50em) {
      width: 130%;
      margin: 0 0 0 -28%;
    }

  }

}
