.button {

  display: inline-block;
  background: $color-blue linear-gradient(lighten($color-blue, 3), $color-blue);
  border-radius: $border-radius-small;
  box-shadow: $component-shadow-basic;

  a,
  button {

    display: block;
    width: 100%;
    color: white;
    background: transparent;
    font-size: 1em;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 1.4em;
    border: none;
    cursor: pointer;
    border: none;

  }

  &[data-full="true"] {
    display: block;
    width: 100%;
  }

}

.button-disabled {

  &,
  &:hover,
  &:active {
    background: $color-gray2;
    box-shadow: $component-shadow-basic;
  }

  a,
  button {
    pointer-events: none;
  }

}

.button-circle {

  border-radius: 3.2em;

  button {
    display: block;
    width: 3.2em;
    height: 3.2em;
    line-height: 3.2em;
    text-align: center;
    padding: 0;
    
  }

}