$button-color: $color-blue;

.button {

  display: inline-block;
  background: $button-color linear-gradient(lighten($button-color, 3), $button-color);
  border-radius: $border-radius-small;
  box-shadow: $component-shadow-basic;

  a,
  button {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background: transparent;
    font-size: 1em;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 1.4em;
    border: none;
    cursor: pointer;
    border: none;

  }

  &[data-full="true"] {
    display: block;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &.danger {
    background: $color-red;
  }

  &.danger.button-text {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    button {
      color: $color-red;
    }
  }

  &.button-secondary {
    background: transparent;
    box-shadow: none;
    border: 2px solid $color-gray3;
    button {
      color: $button-color;
    }
    &:hover {
      background: lighten($color-gray1, 12%);
    }
  }

  &.button-disabled {
    cursor: not-allowed;
  }
}

.button-circle {

  border-radius: 3.2em;

  button,
  a {
    width: 3.2em;
    height: 3.2em;
    text-align: center;
    padding: 0;

  }

}

.button-text {

  background: none;
  box-shadow: none;

  a,
  span,
  button {
    color: $button-color;
    text-transform: none;
    text-decoration: underline;
  }

}

.button-icon-after {

  svg {
    margin-left: .6em;
  }

}

.button-icon-before {

  svg {
    margin-right: .6em;
  }

}

.button-disabled {

  &,
  &:hover,
  &:active {

    box-shadow: none;

    &:not(.button-text) {
      background: $color-gray2;
    }

  }

  a,
  button {
    pointer-events: none;
  }

  &.button-text {

    a,
    button {
      color: $color-gray2;
    }

  }

}