.datetime-range {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.datetime-range-actions {

  width: 100%;
  padding-top: .2em;
  border-top: solid 1px $color-gray1;
  margin-top: .6em;

  ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .button,
  button {

    &,
    span {
      color: $color-gray5;
      text-decoration: none;
    }

  }

  button {
    padding: .6em .8em
  }

  svg {
    margin-right: .25em;
  }

}

.datetime-range-actions-save {

  svg {
    margin-right: .4em;
  }

}

.datetime-range-selection {

  flex-grow: 1;
  margin-right: .5em;

  &:last-child {
    margin-right: 0;
  }

  & > strong {
    display: block;
    font-size: .9em;
    text-align: center;
    color: $color-gray1;
    background-color: $color-gray8;
    padding: .5em 0;
  }

  .rdtPicker {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
  }

}