%radio-button-checked {

  position: relative;
  background-color: $color-gray0;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.4);
  border: solid 4px $color-gray0;

  .radio-button-checkbox,
  .checkbox-button-checkbox {

    span {

      background-color: white;
      color: black;
      border: solid 2px $color-gray;

    }

  }

}

.radio-button,
.checkbox-button {

  display: block;

  & > label {

    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    box-shadow: $component-shadow-strong;
    border-radius: $border-radius-medium;
    border: solid 4px white;
    cursor: pointer;

    form[data-is-disabled="true"] & {
      cursor: default;
    }

  }

  input {

    &:checked {

      & + label {
        @extend %radio-button-checked;
      }

    }

  }

}

.radio-button-checkbox,
.checkbox-button-checkbox {

  display: block;
  padding: 0;
  margin-right: 1em;

  span {

    display: block;
    width: 2em;
    height: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    border: solid 2px $color-gray4;

    .input-button-invalid & {
      border: solid 2px $color-alert;
    }

  }

  svg {

    width: 1em;
    height: 1em;
    transform: scale(.4);
    transition: transform .1s ease-out;

    :checked + label & {
      transform: scale(1);
    }

  }

}

.checkbox-button-checkbox span {
  border-radius: $border-radius-medium;
}

.input-button-content {
  display: block;
  flex-grow: 1;
  text-align: left;
}

.radio-button-title {
  display: block;
  color: $color-gray7;
  font-size: 1.2em;
  font-weight: $font-weight-bold;
  margin-bottom: .2em;
}

.radio-button-headline {
  font-size: 1.8em;
  font-weight: $font-weight-bold;
}