$item-list-side-padding: 1em;
$item-list-top-padding: .8em;

.item-list {
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    
    padding: 0;
    border-bottom: solid 1px $color-gray1;
    margin: 0;

    &:last-child {
      border-bottom: 0;
    }

  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: $item-list-top-padding 1em;
  }

}

.item-list-item {
  position: relative;
}

.item-list-item-action {
  position: absolute;
  top: 0;
  right: 1em;
  bottom: 0;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  text-align: center;
  margin: auto 0;
}