.lens {

  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;

  &[data-has-results="true"] {
    // padding-left: 25em;
  }

}

.lens-sidebar {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25em;
  max-height: 100vh;
  padding: 1em;

  .lens[data-has-results="true"] & {
    // background-color: white;
  }

  .search-complete {
    z-index: 9999;
  }

  .search-box {

    form {
      margin: 0;
    }

  }

  .search-box-controls-date-picker {
    left: 0;
  }

}

.lens-map {
  position: relative;
  z-index: 0;
}