.lens {

  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;

  &[data-has-results="true"] {
    // padding-left: 25em;
  }

}

.lens-sidebar {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 25em;
  max-height: 100vh;
  padding: 1em;

  .lens[data-has-results="true"] & {
    // background-color: white;
  }

  .search-complete {
    z-index: 9999;
  }

  .search-box {

    form {
      margin: 0;
    }

  }

  .search-box-controls-date-picker {
    left: 0;
  }

  .lens-item-pointer {
    cursor: pointer;
  }

}

.lens-sidebar-search {

  .panel-body {
    display: flex;
  }

  .search-complete {
    flex-grow: 1;
  }

}

.lens-sidebar-search-actions {

  list-style: none;
  padding: 0;
  margin: 0 0 0 1em;

  // Same size as Search button

  .button,
  button {
    width: 3.2em;
    height: 3.2em;
    line-height: 3.2em;
    text-align: center;
  }

  button {
    padding: 0;
  }

}

.lens-map {
  position: relative;
  z-index: 0;
}