.nav-bar {

  padding: 0;
  margin: .8em 0;

  .button {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    box-shadow: $component-shadow-basic;
    margin: .3em;

    a {
      width: 100%;
      height: 100%;
      color: $color-gray7;
      text-align: center;
      padding: 0;
    }

  }

  .nav-bar-active-button {

    background: $color-gray;
    box-shadow: $component-shadow-basic;

    a {
      color: white;
    }

  }

}

.nav-bar-section {

  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

}

.nav-bar-primary,
.nav-bar-secondary  {

  display: flex;

  .nav-bar-vertical & {
    flex-direction: column;
    justify-content: space-between;
  }

}