$panel-side-padding: 1em;
$panel-top-padding: .8em;

.panel {
  overflow: hidden;
  background-color: white;
  border-radius: $border-radius-small;
  margin-bottom: 1em;
  box-shadow: $component-shadow-strong;
}

.panel-header {
  
  color: white;
  background-color: $color-gray6;
  padding: .6em $panel-side-padding;

  p {

    font-size: .9em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}

.panel-body {

  padding: 0 $panel-side-padding;

  .panel-clean & {
    padding: 0;
  }

  p {
    
    margin: $panel-top-padding 0;

  }

  .item-list {
    margin: 0 ( $panel-side-padding - ( $panel-side-padding * 2 ) );
  }
  
}