.search-panel-filters {

  .panel-body {
    padding: 0;
  }

  .table-cell {
    padding: .6em 1em;
  }

  .table-cell-column-label {
    font-weight: bold;
  }

  .search-panel-filters-list-item {

    display: flex;

    .table-cell {
      display: inline-block;
      width: 50%;
    }

    &:last-of-type {
      .table-cell {
        border-bottom: none;
      }
    }

    .search-panel-filters-list-item-remove {
      background: transparent;
      box-shadow: none;
      font-size: 0.8em;
      height: 100%;
      display: flex;

      button {
        padding: 0;
        color: black;
      }
    }
  }

}
