.dropdown {
  position: relative;
  display: block;

  & + .search-box-input input[type="text"] {
    padding-left: 3.2em;
  }

  .dropdown-button {
    position: absolute;
    top: 12px;
    left: 5px;
    
    background-color: #fff;
    color: #000;
    padding: 7px 10px 2px 10px;
    font-size: 16px;
    border: none;
    border-right: 2px solid #ccc;
    cursor: pointer;
    outline: 0;
  
    svg {
      display: inline-block;
      pointer-events: none;
    }
  }
  
  .dropdown-button:hover, .dropdown-button:focus {
    background-color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: $color-gray0}
  
  .show {display: block;}

  /* pretty radio */
  label {
    display: block;
  }
  label > input[type="radio"] {
    display: none;
  }
  label > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.04rem;
    border-color: $color-gray3;
  }

  label > input[type="radio"]:checked + * {
    color: $color-blue;
  }

  label > input[type="radio"]:checked + *::before {
    background: radial-gradient($color-blue 0%, $color-blue 40%, transparent 50%, transparent);
    border-color: $color-blue;
  }

  /* basic layout */

  label > input[type="radio"] + * {
    display: inline-block;
    padding: 0.2rem 0.1rem;
  }

}
