.task-status-status-indicator {
  margin: 0 auto;
  // justify-content: center;
  ul {
    padding: 0;
  }
}
.status-indicator-status {
  text-align: center;
}
.status-indicator-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.status-indicator-circle {
  border: 1px solid #000;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: center;
  span {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
.status-indicator-circle-active {
  background: blue;
}
.status-indicator-circle-error {
  background: red;
}
.status-indicator-circle-past {
  background: black;
}