.tabletable {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.tabletable-header {
  display: block;
  overflow: hidden;
  width: 100%;
  border-top: solid 1px $color-gray1;
  border-bottom: solid 1px $color-gray1;
}

.tabletable-grid {
  flex-grow: 1;
}

.tabletable-cell {

  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .2em;

  &:not(.tabletable-cell-header) {
    border-bottom: solid 1px $color-gray1;
  }

  &.tabletable-row-last {
    border-bottom: none;
  }

  &:not(.tabletable-cell-header) {

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

}

.tabletable-cell-header {

  position: relative;
  z-index: 1;
  float: left;

  .tabletable-frozen-header & {

    // position: sticky!important;

  }

  & > span {
    color: $color-gray6;
    font-size: .85em;
    font-weight: $font-weight-semibold;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .tabletable-cell-icon {

    width: 1.4em;
    height: 1.4em;
    padding: .2em;
    margin-left: .2em;
    cursor: pointer;

  }

}



.tabletable-cell-align-left {
  text-align: left;
  justify-content: flex-start;
}

.tabletable-cell-align-center {
  text-align: center;
  justify-content: center;
}

.tabletable-cell-align-right {
  text-align: right;
  justify-content: flex-end;
}