.task-status-meta-data {
  display: inline-block;
}
.task-status-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task-status-info-wrapper {
  border: 1px solid #000;
  height: 20vh;
  width: 30vw;
}
.task-status-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}
.status-info-status {
  font-weight: bold;
  padding-top: 2vh;
}
.status-info-window-open, .status-info-window-close {
  font-weight: bold;
}